body {
	background-color: transparent;
}

.api-container p {
	margin-bottom: 5px;
}

.api-test-input {
	display: block;
	flex: 1;
	width: 100%;
	color: var(--vscode-input-foreground);
	background-color: var(--vscode-input-background);
	border: none;
	padding: 0 0.6em;
}

.api-select {
	display: block;
	width: 100%;
	border: none;
	font-family: var(--vscode-font-family);
	padding: var(--input-padding-vertical) var(--input-padding-horizontal);
	color: var(--vscode-input-foreground);
	outline-color: var(--vscode-input-border);
	background-color: var(--vscode-input-background);
}

.generate-api-button {
	display: block;
	border: none;
	margin: 0 auto;
	margin-top:5px
}
