name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  FORCE_COLOR: 1

jobs:
  build:
    runs-on: ${{ matrix.os }}
    name: Run tests on ${{ matrix.os }}, Node ${{ matrix.node-version }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
        node-version: [ 16 ]
        include:
        - os: ubuntu-latest
          node-version: 18
        - os: ubuntu-latest
          node-version: 14
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npx playwright install chromium
    - run: npm run lint
    - run: npm run build
    - run: npm run test -- --workers=1
    - run: npx vsce package
      if: matrix.os == 'ubuntu-latest' && matrix.node-version == '16'
    - uses: actions/upload-artifact@v3
      if: matrix.os == 'ubuntu-latest' && matrix.node-version == '16'
      with:
        name: vsc-extension
        path: "*.vsix"
        retention-days: 30
