name: Publish
on:
  release:
    types: [published]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
      - run: npm ci
      - run: npm install -g vsce
      - name: Publish release
        if: github.event.release.prerelease == false
        run: vsce publish --pre-release --pat "${{ secrets.VSC_MARKETPLACE_PAT }}"
      - name: Publish pre-release
        if: github.event.release.prerelease == true
        run: vsce publish --pat "${{ secrets.VSC_MARKETPLACE_PAT }}"
